
.container{
    background-color: var(--backgroundBase-color);
    width: 95%;

    position:relative; 
    border-radius: 15px;
    font-size: 1.5rem;
    

}


.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 45px repeat(3, 1.875rem);
    gap: 5px;

    margin: 10px;
    color: var(--label-color);
}


.gridName{
    grid-row: 1/2;
    grid-column: 1/2;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridLastname{
    grid-row: 1/2;
    grid-column: 2/3;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridDni{
    grid-row: 2/3;
    grid-column: 1/2;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridSocial_secure{
    grid-row: 1/2;
    grid-column: 4/5;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridSocial_secure_number{
    grid-row: 2/3;
    grid-column: 4/5;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridBirth{
    grid-row: 3/4;
    grid-column: 1/2;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridPhone{
    grid-row: 4/5;
    grid-column: 1/2;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridEmail{
    grid-row: 4/5;
    grid-column: 2/3;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridAddress{
    grid-row: 4/5;
    grid-column: 3/4;
    display:flex;
    align-items: center;
    gap:10px;
}

.gridGender{
    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
    align-items: center;
    gap: 10px;
}

.btnGuardar{
    grid-row: 4/5;
    grid-column: 4/5;

    justify-self: center;

    height: 1.5625rem;
    width: 100px;

    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    border: none;
    font-size: 1.2rem;
}

.btnGuardar:hover{      
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0px 0px 25px #0151a7;
}

.labels{
    width: 120px;
}

.inputs{
    height: 1.5625rem;
    width: 200px;
    background-color: var(--inputBack-color); 
    border:none ;/* 1px solid rgb(0, 0, 0); */  /* Borde: grosor, trazo y color */
    border-radius: 5px;               /* Borde: radio */
    outline:1;                        /* BordeExterior: Activacion de Highligth */
    color:var(--title-color);                  /* Texto: Color */
    transition: width 1s ease-in-out;
    text-align: center;
    font-size: 1.5rem;
}

.inputs::placeholder{
    display: none;
    color: var(--placeholder-color);
}

.inputs:hover{                           /*Seleccion*/
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0px 0px 5px #007bff;
}
.inputs:focus{                           /*Seleccion*/
    background-color: var(--inputBack-color); 
/*     width: 180px; */
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0px 0px 5px #007bff;
}




