
.container{
    width: 50%;
    height: 50px;
    margin-top: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    


    background-color: var(--backgroundBase-color);
    border-radius: 15px;
    font-size: var(--letter-form-size);

    /* -------------------------------- Animacion ------------------------------- */
/*     -webkit-animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both; */
}

.buscador{
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.filtros{
    padding: 0px 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.buscador img{
    width: 20px;
    height: 20px;
    
}

.gridContainer label{
    margin-right: 5px;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.lastname{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.dni{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}


.inputs{
    height: 1.5625rem;
    width: 120px;
    background-color: var(--inputBack-color); 
    border:none ;/* 1px solid rgb(0, 0, 0); */  /* Borde: grosor, trazo y color */
    border-radius: 5px;               /* Borde: radio */
    outline:1;                        /* BordeExterior: Activacion de Highligth */
    color:white;                    /* Texto: Color */
    transition: width 1s ease-in-out;
    text-align: center;
}

.inputs::placeholder{
    display: none;
    color: rgb(192, 192, 192);
}

.inputs:hover{                           /*Seleccion*/
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0px 0px 5px #007bff;
}
.inputs:focus{                           /*Seleccion*/
    background-color: var(--inputFocus-color); 
    width: 180px;
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0px 0px 5px #007bff;
}



/* ------------------------------- Animaciones ------------------------------ */

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
    }
    @keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}



@media only screen and (max-width: 1912px) {

    .container{
        font-size: 1.3rem;
        width: auto;
    }
    .filtros{
        gap:20px
    }
}

@media only screen and (max-width: 1550px) {

    .container{
        width: 850px;
    }

}