.componentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.titulo{
    position: fixed;
    top: 0px;
    right: 5px;
}

.showPacientes{
    background-color: grey;
    width: 80%;
    height: 500px;
    border-radius: 15px;
}

