
.container{
    background-color: var(--backgroundBase-color); 
    width: 50%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    position:relative;
    border-radius: 15px;

    /* -------------------------------- Animacion ------------------------------- */
  /*   -webkit-animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both; */
}
.header{
    width: 95%;
    height: 30px;
    padding: 0px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 15px 20px;
    border-radius: 10px;

    font-size: 1rem;
    color: white;
}

.showPatients{
    background-color: var(--backList-color); 
    height: 85%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    
    

    border-radius: 15px;
    overflow-y: scroll;
    
}


/* ------------------------------- Animaciones ------------------------------ */

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
    }
    @keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
