.itemContainer{
    width: 95%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    margin: 3px 20px;

    /* border: 2px solid black; */
    border-radius: 5px;

    font-size: 1rem;
    /* background-color:var(--patientItem-color-hover); */
    background-color: var(--patientItem-color);
}

.itemContainer:hover{
    background-color: rgb(145, 141, 141);
}

.itemHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:5px;
}

.date{
    font-size: 1.5rem;
    color: var(--span-color);
    
}
.description{
    width: 100%;
    font-size: 1.3rem;
    color: var(--label-color)
    
}