.patientContainer{
    width: 95%;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 3px 20px;
    /* border: 1px solid black; */
    border-radius: 5px;

    font-size: 1rem;
    background-color:rgb(131, 131, 131);
}

.patientContainer:hover{
    background-color: rgb(105, 105, 105);;
}