
.container{
    background-color:var(--backgroundBase-color); 
    width: 80%;
    height: 65vh;
    padding:15px ;
    /* margin-top: 30px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:relative;
    border-radius: 15px;

    /* -------------------------------- Animacion ------------------------------- */
/*     -webkit-animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both; */
}
.showItems{
    background-color: var(--backList-color); 
    height: 94%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
    
    

    border-radius: 15px;
    overflow-y: scroll;
    
}

.hCVacia{
    color: var(--span-color);
    font-size: 1.2rem;
    align-self: center;
    margin-top: 300px;
}



/* ------------------------------- Animaciones ------------------------------ */

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
    }
    @keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
