#root {
  width: 100%;
  min-height: 100vh;
  /* -------------------------------- Gradiente ------------------------------- */
  /* background-image: linear-gradient(to right bottom, #222639, #2a2e41, #333649, #3b3e52, #44475a, #45495c, #474a5e, #484c60, #42475c, #3d4157, #373c53, #32374f); */

  /* --------------------------------- Imagen --------------------------------- */
  background-image: url('./assets/ADNFONDOdiff.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* ------------------------------ COLORES BASE ------------------------------ */
:root{
    --title-color: white;

    /* --backgroundBase-color: grey; */
    --backgroundBase-color:#3c5473c5;
    --backList-color: #1c25404d;
    --patientItem-color: rgba(131, 131, 131, 0.308);
    --patientItem-color-hover: rgb(105, 105, 105);

    --label-color: rgb(209, 208, 208);
    /* --inputBack-color:rgb(100, 100, 100); */
    --inputBack-color: #58677a;
    --placeholder-color: rgb(192, 192, 192);

    --button-color: #007bff;

    --letter-form-size: 1.5rem;

    --titulares-font-size: 2rem;


}
