#root {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #222639, #2a2e41, #333649, #3b3e52, #44475a, #45495c, #474a5e, #484c60, #42475c, #3d4157, #373c53, #32374f);
}
