.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "Item1 Item1 Item2"
    "Item1 Item1 Item2"
    "Item3 Item3 Item3"
;
justify-items: center;
align-items: center;

    /* color: red; */
}