.sliderContainer{
    width: 45px;
    height: 25px;
    display: flex;
    flex-direction: row;

    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    justify-content: start;
}

.sliderContainer:hover{
    cursor: pointer;
}


.sliderCenter{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    border-radius: 15px;
    align-self: center;
    margin: 0px 3px;
    transition: all 0.25s linear;
    
}

.sliderTrue{
    background-color: #007bff;
    
}


.sliderFalse{
    background-color: #ff006a;
    transform: translateX(20px);
}


.sliderLetra{
    font-size: 1rem;
    text-align: center;
}